# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules


# testing
/maps.html
/src/maps.js
/src/maps.css
/todo.txt
# production
/maps.html
/src/maps.js
/src/maps.css
/todo.txt
# misc
/maps.html
/src/maps.js
/src/maps.css
/todo.txt