.footer-str {
    display: flex;
    margin: 0 auto;
    align-items: center;
    height: 140px;
}

.footer-str a {
    color: black;
    text-decoration: none;
}

.footer-social {
    width: 400px;
    text-align: center;
}

.footer-social ul li {
    display: inline-block;
    list-style: none;
    height: 60px;
    width: 60px;
    margin: 0 10px;
}

.footer-social-fb {
    background-image: url(https://www.flaticon.com/svg/vstatic/svg/145/145802.svg?token=exp=1615308872~hmac=16b87572b4b716c8a8a0e6995c11fb77);
    background-size: cover;
    background-repeat: no-repeat;
}

.footer-social-yt {
    background-image: url(https://www.flaticon.com/svg/vstatic/svg/733/733590.svg?token=exp=1615309126~hmac=d41e0a86c344730b43c0617b9409820e);
    background-size: cover;
    background-repeat: no-repeat;
}

.footer-social-in {
    background-image: url(https://www.flaticon.com/svg/vstatic/svg/174/174855.svg?token=exp=1615308916~hmac=54adedd7ad109a2a88df9bb938af4bb1);
    background-size: cover;
    background-repeat: no-repeat;
}

.footer-about {
    width: 400px;
    text-align: center;
}

.footer-about-title {
    text-align: center;
    box-sizing: border-box;
}

.footer-about-github {
    background-image: url(https://www.flaticon.com/svg/vstatic/svg/733/733609.svg?token=exp=1615308547~hmac=dc274eb2c5cba43073df2fdf26d2903e);
    background-size: auto;
    background-repeat: no-repeat;
    height: 80px;
    display: inline-block;
    list-style: none;
    width: 45px;
    padding: 15px;
    margin: 0 30px;
}

