/* global styles */
/* * {
    padding: 0px;
    margin: 0px;    
} */

/* select-meals styles */
.select-article article {
    text-align: center;
    font-size: 2rem;
    font-family: 'Dancing Script', cursive;
    margin: 10px;
    padding: 20px;
}

#select {
    color: rgba(0, 0, 0, 0);
    height: 100px;
    border-radius: 10px;
    font-family: 'Dancing Script', cursive;
}

#select:hover {
    text-shadow: 3px 3px 10px black; /* Adam Css*/
    cursor: pointer;
    color: white;
    font-size: 3.4rem; /* Adam Css*/
    text-align: center; /* Adam Css*/
    transition: all 0.4s linear; /* Adam Css*/
    transition-delay: 0.1s; /* Adam Css*/
}

.select-bf {
    background-image: url(https://cdn.pixabay.com/photo/2016/05/17/14/52/breakfast-1398259_960_720.jpg);
    background-size: cover;
}

.select-lc {
    background-image: url(https://cdn.pixabay.com/photo/2015/05/31/13/13/lunch-791697_960_720.jpg);
    background-size: cover;
}

.select-dn {
    background-image: url(https://cdn.pixabay.com/photo/2015/11/09/03/28/food-1034608_960_720.jpg);
    background-size: cover;
}


.select-ds {
    background-image: url(https://cdn.pixabay.com/photo/2018/05/01/18/21/eclair-3366430_960_720.jpg);
    background-size: cover;
}
