/* global styles */
/* * {
    padding: 0px;
    margin: 0px;    
} */

/* select-meals styles */


.main-select-article article {
    text-align: center;
    font-size: 2rem;
    font-family: 'Dancing Script', cursive;
    margin: 10px;
    padding: 20px;
}

/* #main-select {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 220%;
    font-family: 'Dancing Script', cursive;
    transition: transform 1.5s;
} */

#main-select:hover {
    opacity: 0.5;

}

.main-select-str {
    margin: 0 auto;

}

#main-select a {
    text-decoration: none;
    padding: 30px 85px;
}

.main-select-bf {
    background-image: url(https://cdn.pixabay.com/photo/2016/03/09/15/30/breakfast-1246686_960_720.jpg);
    background-size: cover;
    height: 100px;
    margin: 0 10px;
    border-radius: 10px;
}

.main-select-bf a {
    color: black;
}

.main-select-lc {
    background-image: url(https://cdn.pixabay.com/photo/2015/05/31/13/13/lunch-791697_960_720.jpg);
    background-size: cover;
    height: 100px;
    margin: 0 10px;
    border-radius: 10px;
}

.main-select-lc a {
    color: black;
}

.main-select-dn {
    background-image: url(https://cdn.pixabay.com/photo/2015/01/13/06/40/steak-597949_960_720.jpg);
    background-size: cover;
    height: 100px;
    margin: 0 10px;
    border-radius: 10px;
}

.main-select-dn a {
    color: black;
}

.main-select-ds {
    background-image: url(https://cdn.pixabay.com/photo/2018/05/01/18/21/eclair-3366430_960_720.jpg);
    background-size: cover;
    height: 100px;
    margin: 0 10px;
    border-radius: 10px;
}

.main-select-ds a {
    color:black;
}
 
