/* global styles */
/* * {
    padding: 0px;
    margin: 0px;    
} */


/* bootstrap style changes ? */


/* header styles */


/* select-meals styles */
.main-select-str {
    display: flex;
    width: 90%;
    margin: 20px auto;
}

.main-select-article {
    text-align: center;
    font-size: 190%;
    font-family: 'Dancing Script', cursive;
    margin: 10px;
    padding: 20px;
}

#main-select {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 200%;
    font-family: 'Dancing Script', cursive;
}

#main-select a {
    text-decoration: none;
    padding: 30px 80px;
    font-weight: bold;
}

.main-select-bf {
    background-image: url(https://cdn.pixabay.com/photo/2016/11/06/23/16/breakfast-1804436_960_720.jpg);
    background-size: cover;
    height: 100px;
    margin: 0 10px;
}

.main-select-bf a {
    color: rgb(11, 11, 73);
}

.main-select-lc {
    background-image: url(https://cdn.pixabay.com/photo/2018/07/14/21/30/club-sandwich-3538455_960_720.jpg);
    background-size: cover;
    height: 100px;
    margin: 0 10px;
}

.main-select-lc a {
    color: white;
}

.main-select-dn {
    background-image: url(https://cdn.pixabay.com/photo/2016/06/03/14/31/dinner-1433494_960_720.jpg);
    background-size: cover;
    height: 100px;
    margin: 0 10px;
}

.main-select-dn a {
    color:royalblue;
}

.main-select-ds {
    background-image: url(https://cdn.pixabay.com/photo/2018/05/01/18/21/eclair-3366430_960_720.jpg);
    background-size: cover;
    height: 100px;
    margin: 0 10px;
}

.main-select-ds a {
    color:royalblue;
}


/* main styles */



/* footer styles */
